.teamname{
font-size: 30px;
font-style:oblique;

}
#home{
    background-image: url('./landing.jpg');
    background-size: 100%;
    background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#about{
    background-image: linear-gradient(to bottom, #7c00ff 70% , #b933ff);
    
}
#portfolio{
    background-image: linear-gradient(to bottom , #4e0099 , #430066 , #340066, #7c00ff , #b933ff);
}
#resume{
    background-image: linear-gradient(to bottom, #b933ff , #7c00ff , #4e0099);

}
#footer{
    background-image: linear-gradient(to top , #4e0099 , #430066 , #340066, #7c00ff , #b933ff);
}
.smoothscroll{
    color:red;
}
.flip{
    background-color: red;
    color:pink;
    box-shadow: 3px 3px white;
}
flippy{
    background-color: red;
    color: green;
}

    

    
    

    


